* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.control-panel {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 40px;
    flex-direction: column;
}

.control-panel > button {
    margin-top: 10px;
}

#field-container {
    width: 60%;
    display: grid;
    grid-template: repeat(5, 75px) / repeat(5, 75px);
    gap: 3px;
}

#field-container > div {
    background-color: lightgray;
    border-radius: 5px;
    border: solid 1px gray;
}

.active {
    background-color: orange !important;
}

#stats {
    display: flex;
    justify-content: space-evenly;
}

.col {
    display: flex;
}
.col > * {
    padding: 0 5px;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
}
