footer {
    background-color: #084c5c;
}

footer p,
footer a,
footer a:active,
footer a:visited {
    color: #84c4d5;
}

.info__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px 0;
}

.info__container p {
    padding: 5px 0;
}

.info__container > div p:first-child{
    font-size: 1.5rem;
}

.copyright__container {
    text-align: center;
}

@media (max-width: 768px) and (min-width: 576px) {
    .info__container {
        grid-template-columns: 1fr;
    }

    .adress__container::before,
    .adress__container::after{
        content: '';
        display: block;
        margin: 5px auto;
        width: 70%;
        padding: 1px 0;
        background-color: #fff;
    }
}

@media (max-width: 576px) {
    .info__container {
        grid-template-columns: 1fr;
    }

    .adress__container::before,
    .adress__container::after{
        content: '';
        display: block;
        margin: 5px auto;
        width: 70%;
        padding: 1px 0;
        background-color: #fff;
    }
}
