header {
    background-color: white;
    color: #b41944;
}
.header-wrapper__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0 auto;
}
.logo__container {
    display: flex;
}
.logo__img {
    width: 120px;
    height: 120px;
    background-color: #2b2d42;
}
.logo-label__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.name-logo__h1 {
}
.family-logo__container {
}
.family-logo__img {
}
.name-family-logo__span {
}
.nav__container {
    display: flex;
}
nav {
}
nav ul {
    display: flex;
}
nav ul > li {
    margin: 0 10px;
    display: flex;
    width: 50px;
    height: 50px;
    background-position: top 0 left 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
    color: #186c84;
}
nav ul > li:hover {
    background-color: #186c84;
    color: white;
}

nav ul > li:first-child {
    background-image: url("catalog.svg");
}

nav ul > li:nth-child(2) {
    background-image: url("about.svg");
}
nav ul > li:last-child {
    background-image: url("awards.svg");
}

.catalog__link,
.catalog__link:active,
.catalog__link:visited {
    text-align: center;
    color: inherit;
}
.about__link,
.about__link:active,
.about__link:visited {
    text-align: center;
    color: inherit;
}
.awards__link,
.awards__link:active,
.awards__link:visited {
    text-align: center;
    color: inherit;
}
.number__link,
.number__link:active,
.number__link:visited {
    color: inherit;
    background: url("phone.svg") no-repeat;
}
.number__container {
}

.number__container a {
}
.number__container p::before {
    content: "*";
}

@media (max-width: 768px) {
    .number__container {
        position: absolute;
        top: 150px;
        left: 0;
        padding-top: 10px !important;
    }
    nav {
        display: none;
    }
    .icon-menu {
    }
}
@media (max-width: 768px) and (min-width: 576px) {
    .number__container {
        width: 576px;
        left: calc((100vw - 576px) / 2);
    }
}

@media (max-width: 576px) {
    .number__container {
        padding: 0 15px;
    }
}
