header {
    background-color: white;
    color: #b41944;
}
.header-wrapper__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0 auto;
}
.logo__container {
    display: flex;
}
.logo__img {
    width: 120px;
    height: 120px;
    background-color: #2b2d42;
}
.logo-label__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.name-logo__h1 {
}
.family-logo__container {
}
.family-logo__img {
}
.name-family-logo__span {
}
.nav__container {
    display: flex;
}
nav {
}
nav ul {
    display: flex;
}
nav ul > li {
    margin: 0 10px;
}
nav ul > li:hover {
    filter: invert(1);
}

.catalog__link {
    background-image: url();
}
.about__link {
    background-image: url();
}
.awards__link {
    background-image: url();
}
.number__link {
    background-image: url();
}
.number__container {
}

.number__container a {
}
.number__container p::before {
    content: "*";
}

@media (max-width: 768px) {
    .number__container {
        position: absolute;
        top: 150px;
        left: 0;
        padding-top: 10px !important;
    }
    nav {
        display: none;
    }
    .icon-menu {
    }
}
@media (max-width: 768px) and (min-width: 576px) {
    .number__container {
        width: 576px;
        left: calc((100vw - 576px) / 2);
    }
}

@media (max-width: 576px) {
    .number__container {
        padding: 0 15px;
    }
}
