@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

header {
    background-color: white;
    color: #b41944;
}
.header-wrapper__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0 auto;
}
.logo__container {
    display: flex;
}
.logo__img {
    width: 120px;
    height: 120px;
    background-color: #084c5c;
}
.logo-label__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.name-logo__h1 {
    font-family: "Noto Sans KR", serif;
    font-size: 2rem;
    font-weight: 700;
}
.family-logo__container {
}
.family-logo__img {
}
.name-family-logo__span {
}
.nav__container {
    display: flex;
    font-weight: 600;
}
nav ul {
    display: flex;
}
nav ul > li {
    margin: 0 10px;
    display: flex;
    min-height: 60px;
    background-position: top 5px left 50%;
    background-size: 35px;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
    color: #084c5c;
    transition: all 0.25s ease;
    font-size: 1em;
    padding: 5px;
}
nav ul > li:hover {
    background-color: #084c5c;
    color: white;
}

nav ul > li:first-child {
    background-image: url("catalog.svg");
}

nav ul > li:nth-child(2) {
    background-image: url("about.svg");
}
nav ul > li:last-child {
    background-image: url("awards.svg");
}

.catalog__link,
.catalog__link:active,
.catalog__link:visited {
    text-align: center;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.about__link,
.about__link:active,
.about__link:visited {
    text-align: center;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.awards__link,
.awards__link:active,
.awards__link:visited {
    text-align: center;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.number__link,
.number__link:active,
.number__link:visited {
    display: flex;
    color: #084c5c;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: inherit;
    transition: all 0.25s ease;
    padding: 5px;
}

.number__link::before {
    content: "";
    align-self: center;
    background: url("phone.svg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.number__link:hover {
    background-color: #084c5c;
    color: white;
}
.number__container {
    width: fit-content;
    padding: 5px 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.number__container a {
}
.number__container p::before {
    content: "*";
}

@media (max-width: 768px) {
    .number__container {
        position: absolute;
        top: 150px;
        left: 0;
        padding-top: 10px !important;
    }
    nav {
        display: none;
    }
    .icon-menu {
    }
}
@media (max-width: 768px) and (min-width: 576px) {
    .number__container {
        width: 576px;
        left: calc((100vw - 576px) / 2);
    }
}

@media (max-width: 576px) {
    .number__container {
        padding: 0 15px;
    }
}
